/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #000;
}

/* efecto cursor tipo terminal */
.cursor {
  display: inline-block;
  width: 2px;
  background-color: #00ff7f;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

/* animación fade-in */
@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease forwards;
}
